@charset "utf-8";
@import url('../font/Google-Sans.css');
@import url('../font/Abril-Fatface.css');
@import url('../font/Noto-Sans.css');
@import url('../font/Noto-Serif.css');


body {font-family: "Noto Sans", Arial, sans-serif; font-size: 14px;}
#wrap {width: 100%; height: auto;}



/* header */
header {width: 100%; position: fixed; z-index: 10; transition: .6s ease; padding: 20px 0; box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 60%);}
.pale {background-color: rgba(0,0,0,.4);}
.thick {background-color: black;}
header .container {display: flex; flex-wrap: wrap; justify-content: space-between;}

.logo {text-align: center; width: 10%; text-transform: uppercase; padding-top: 8px;}
.logo a {font-size: 20px; font-weight: 700; text-decoration: none; color: #fff;}

nav {display: flex; width: 60%;}
nav ul {display: flex; flex-direction: row; align-items: center; width: 100%;}
nav ul li {display: inline-block; width: 100%; text-align: center; padding: 8px 0;}
nav li a {color: #fff; text-decoration: none;}

.nav_list_button {display: none;}
.nav_list_button:hover {cursor: pointer;}

.search_icon {display: flex; justify-content: center; align-items: center;}
.search_icon img {width: 50%;}
.search_icon img:hover {cursor: pointer;}

/*
.animate {opacity: 0; visibility: hidden;}
.fadeInUp {webkit-animation-name: fadeInUp; animation-name: fadeInUp;}
*/



/* section1 */
.section_1 {position: relative; width: 100%; height: 969px; background-image: url(../img/20201018231434160100.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; z-index: 0;}
.overlay {position: absolute; background-color: #000; content: ''; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.5;}
.container {max-width: 1200px; height: 100%; margin: 0 auto; z-index: 20;}
.main_wrap {height: 100%; display: flex; justify-content: center; align-items: center; position: relative; padding-top: 30px;}
.main {text-align: center; width: 54%; -webkit-box-align: center;}

.top_text_wrap {border: 1px solid rgba(255,255,255,.2); border-top: none; margin-bottom: 2em; display: inline-block; margin-bottom: 80px;}
.top_text {display: inline-block;color: #fff; text-decoration: none; position: relative; height: 100%; padding: 0 15px; font-size: 40px; text-transform: uppercase; line-height: 1.2; font-weight: 700;}
.top_text:before {position:absolute; top:0; left: 0; content:''; width:84px; height:1px; background:rgba(255,255,255,.2);}
.top_text:after {position:absolute; top:0; right: 0; content:''; width:84px; height:1px; background:rgba(255,255,255,.2);}
.top_text span {width: 130px; height: 100px;background: url(../img/steak_icon_126476.png) no-repeat; background-size: cover; background-position: center; position: absolute; top: -100px; left:30%;}
.top_text small {display: block; padding-bottom: 5px; font-style: italic; font-weight: 400; font-size: 14px; font-family: "Noto Serif",serif; text-transform: capitalize;}
.center_text_wrap h1 {color: #fff; font-weight: 700; font-size: 60px; font-family: "Noto Sans", Arial, sans-serif; margin: 0 0px 16px 0; line-height: 1.2; text-transform: uppercase;}
.center_text_wrap p {color: #fff; opacity: 0.9; margin: 0 0px 16px 0; line-height: 1.8;}
.bottom_text_wrap {margin: 16px 0px 16px 0;}
.bottom_text {display: inline-block; padding: 15px 20px; border: 1px solid rgba(255,255,255,.2); text-decoration: none; color: #9da1a5; font-weight: 700; text-transform: uppercase; font-size: 10px; letter-spacing: 1px;}

.section_bg {background-color: #191a1c;}
.pd {padding: 112px 0;}



/* section2 */
.section2_wrap {display: flex;}
.section2_img {width: 50%; background: url(../img/20201019101227003222.jpg) no-repeat; background-size: cover; background-position: center;}
.section2_text {padding-left: 50px; width: 50%; display: flex; flex-wrap: wrap;}

.text_top {color: #9da1a5;}
.text_top h3 {font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 24px; text-transform: uppercase; letter-spacing: 2px;}
.text_top p {line-height: 1.7; margin-bottom: 24px;}
.text_top span {color: #fff; margin-bottom: 48px; display: inline-block; font-size: 10px; font-weight: 700; letter-spacing: 2px;}

.text_img {display: flex; flex-flow: row; width: 100%;}
.img_box {width: 50%; height: 300px; margin-right: 5px;}

.text_bottom {color: #9da1a5; font-family: "Noto Serif",serif; margin-top: 48px; margin-bottom: 24px; font-style: italic;}
.text_bottom p {color: #fff;font-weight: bold; line-height: 1.8; font-size: 18px; margin-bottom: 24px;}



/* section3 */
.section_3 {width: 100%; height: auto;}
.section3_top {display: flex; flex-flow: row; width: 100%;}
.section3_top_text {display: flex; flex-wrap: wrap; width: 90%;}
.introduce_text {color: #9da1a5; width: 100%; height: 30%; display: flex; justify-content: center; flex-direction: column;}
.introduce_text h3 {font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 24px; text-transform: uppercase; letter-spacing: 2px;}
.introduce_text p {line-height: 1.8;}
.text_info_box {display: flex; flex-flow: row;}
.info_box {display: flex; flex-flow: column wrap; color: #9da1a5; font-family: "Noto Sans", Arial, sans-serif; padding: 0 15px;}
.info_box_img {height: 100px;}
.info_box_img img {width:50px; height: 50px; margin: 11px 0;}
.info_box h3 {color: #fff; text-transform: uppercase; font-size: 16px; margin-bottom: 16px;}
.info_box p {margin-bottom: 16px; font-size: 16px; line-height: 1.8;}

.section3_top_img {margin-left: 15px; background: url(../img/20191219163703464pcra.jpg) no-repeat; background-size: cover; background-position: center; width: 30%; height: 380px;}

.section3_bottom {display: flex; flex-wrap: wrap; flex-flow: row; margin-top: 48px; width: 100%;}
.section3_bottom_img {width: 37%; height: auto; background: url(../img/art_16329873971192_227866.jpg) no-repeat; background-size: cover; background-position: center;}
.section3_bottom_text {color: #9da1a5; padding: 48px 15px; display: flex; flex-wrap: wrap; width: 60%;}
.section3_bottom_text p {margin-top: 24px; padding: 40px 24px; line-height: 1.8; font-size: 14px; font-weight: 400;}

.bottom_percent_info {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-around;}

.percent_info_box {text-align: center; padding: 0 15px;}
.percent_info_box h3 {color: #fff; text-transform: uppercase; font-weight: 700; margin-bottom: 24px; width: 100%; font-size: 16px;}

.progress {width: 100%; background: none; position: relative;}
.progress img {width: 100%;}
.progress span {width: 50%; height: 100%; overflow: hidden; position: absolute; top: 0; z-index: 1;}
.progress-left {left: 0;}
.progress-right {right: 0;}
.progress-bar {width: 100%; height: 100%; background: none; border-width: 6px; border-style: solid; position: absolute; top: 0;}
.progress-right .progress-bar {left: -100%; border-top-left-radius: 80px; border-bottom-left-radius: 80px; border-right: 0;}
.progress-left .progress-bar {left: 100%; border-top-right-radius: 80px; border-bottom-right-radius: 80px; border-left: 0;}



/* section4 */
.section_4 {color: #9da1a5;}
.section_4 .container {display: flex; flex-direction: column; align-items: center; padding-bottom: 64px;}
.section_4 h3 {font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 24px; text-transform: uppercase; letter-spacing: 2px;}
.section_4 p {font-size: 14px;}


.section4_img_wrap {display: flex; flex-wrap: wrap; width: 100%; }
.section4_img_box {width: 33.33333%; height: 600px; position: relative;}
.section4_overlay {background-color: #000; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; opacity: 0.5; content: ''; display: none;}
.section4_icon {position: absolute; width: 70px; height: 70px; right: 50%; top: 50%; content: ''; z-index: 1; background-color: #fff; border-radius: 50%; margin-top: -70px; transform: translate(50%, 50%); cursor: zoom-in; display: none;}
.section4_icon img {position: absolute; top: 35%; left: 35%; width: 30%;}
.img_text {color: #fff; position: absolute; width: 30%; padding: 1.5rem; bottom: 0;}
.img_text p {display: block;}
.img_text a {display: block; text-decoration: none; color: #fff; line-height: 1.2; font-size: 18px; padding: 5px 0;}


.section4_img_box:hover .section4_icon {display: block;}
.section4_img_box:hover .section4_overlay {display: block;}



/* section5 */
.section_5 {color: #9da1a5;}
.section5_text {text-align: center; margin-bottom: 60px;}
.section5_text span {line-height: 0.8; font-size: 12px; text-transform: uppercase; letter-spacing: 4px; font-weight: 600;}
.section5_text h3 {font-size: 16px; font-weight: 700; line-height: 1.4; margin-bottom: 24px; text-transform: uppercase; letter-spacing: 2px;}
.section5_text p {font-size: 14px;}

.section5_slider_wrap {display: flex; flex-wrap: row wrap; padding-top: 60px; justify-content: space-between;}
.slider_box {width: 30%; margin-right: 30px; position: relative; background-color: #202224; padding: 48px; font-style: 14px; line-height: 1.8; font-weight: 400;}

.slider_img {position: relative; width: 100px; height: 100px; border-radius: 50%; margin-top: -100px; left: 10px; margin-bottom: 20px;}
.slider_img span {position: absolute; bottom: -10px; right: 0; width: 40px; height: 40px; border-radius: 50%; background-color: #fff; align-items: center;}
.slider_img img {position: absolute; top: 30%; left: 30%; width: 40%;}

.center_text {border-left: 1px solid #4d4d4d; padding-left: 24px; font-size: 16px; font-style: italic; font-family: "Noto Serif", serif; font-weight: 500; color: #fff; margin-bottom: 48px; position: relative;}
.center_text:after {position: absolute; top: 30%; left: -2px; content: ''; width: 3px; height: 30px; background-color: #9d8f8f;}

.slider_text {width: 100%; margin-left: 48px;}
.slider_text p {font-size: 16px; font-style: italic; font-family: "Noto Serif", serif; font-weight: 500; color: #fff;}



/* section6 */
.section6_text {color: #9da1a5; text-align: center;}
.section6_text h3 {font-size: 16px; line-height: 1.4; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 24px;}
.section6_text p {margin-bottom: 24px;}

.section6_info_wrap {display: flex; flex-wrap: row wrap; justify-content: space-between; margin-bottom: 48px;}
.section6_info {background-color: #202224; width: 100%; padding: 24px; color: #fff; margin: 0 15px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.section6_info_img {width: 100%; height: 30px; text-align: center; margin-bottom: 20px;}
.section6_info_img img {width: 25px;}
.section6_info h3 {font-size: 16px; margin-bottom: 24px; display: inline-block; width: 100%; text-align: center;}
.section6_info p {color: #9d8f8f; text-align: center;}
.section6_info a {color: #9d8f8f; text-decoration: none; width: 100%; text-align: center;}

.masage {display: flex; flex-flow: row; width: 100%;}
.input_wrap {margin: 16px; width: 50%; background-color: #202224;}
.input_box {margin: 48px; display: flex; flex-direction: column;}
.input_style {border: 1px solid rgba(255, 255, 255, 0.1); background: transparent; margin-bottom: 24px; font-size: 13px;padding: 6px 12px; color: #9da1a5; height: 52px;}
.submit_btn {width: 236px; height: 56px; color: #fff; background-color: #9d8f8f; border: 1px solid #9d8f8f; border-radius: 30px; padding: 16px 48px; font-weight: 400; text-align: center; font-size: 16px;}
.map {margin: 16px; width: 50%;}



/* footer */
footer {border-top: 1px solid rgba(255, 255, 255, 0.05); height: 100px; display: flex; justify-content: center;}
footer .container {display: flex; align-items: center; color: rgba(255, 255, 255, 0.7); margin-bottom: 24px;}
footer .container p a {color: rgba(255, 255, 255, 0.7); text-decoration: none; font-size: 16px; line-height: 1.8; font-weight: 400;}